{% extends 'layout.twig' %}

{% block body %}
<h4 class="blue-text card-panel center">{{title}}</h4>

<div class="card-panel col s12">
    <h1 class="red-text">Element supprimer</h1>
    <a href="/" class="btn green lighten-1">Retour</a>
</div>

{% endblock %}